<!-- Container (About Section) -->
<div id="about" class="container-fluid  bg-grey">
  <div class="row">
    <div class="col-sm-8">
      <h2>About OurCompany</h2><br>
      <h4>International company specializing in export and import of flowers, flower arrangement, and deliveries to the customer's home.</h4><br>
      <p>Fifty years ago the Lederman family set up a farm for growing ornamental plants for local marketing in Chicago, Illinois. In the light of the quality of the flowers and the quality of service, the business has flourished and expanded. Twenty years ago we began marketing our network and reduced branches throughout America and from there to franchisees all over the globe. Today, the company has 54 branches around the world.</p>
      <br><a class="btn btn-default btn-lg" href="#contact">Get in Touch</a>
    </div>
    <div class="col-sm-4" style="text-align: center;">
        <span class="glyphicon glyphicon-globe logo slideanim " ></span>
    </div>
  </div>
</div>
