<% if(true){ %>
    <link type="text/css" rel="stylesheet" href="/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="/jsgrid-theme.min.css" />
    
    <script type="text/javascript" src="/jsgrid.min.js"></script>

    <div id="jsGrid"></div>

    <script>  
        let roles = [
            {role:"Manager", id:"0"},
            {role:"Worker", id:"1"},
            {role:"Customer", id:"2"},
            {role:"Supplier", id:"3"}
        ]


        $("#jsGrid").jsGrid({
            width: "100%",
            height: "400px",
        
            inserting: true,
            editing: true,
            sorting: true,
            
            autoload: true,
            controller: {
                loadData: function (){ 
                    return $.ajax({
                        type: "GET",
                        url: "/customers",
                    });
                },
                insertItem: function(item) {
                    return $.ajax({
                        type: "POST",
                        url: "/customers",
                        data: item
                    });
                },
                
                updateItem: function(item) {
                    return $.ajax({
                        type: "PUT",
                        url: "/customers",
                        data: item
                    });
                },
                
                deleteItem: function(item) {
                    return $.ajax({
                        type: "DELETE",
                        url: "/customers",
                        data: item
                    });
                }
            },
        
            fields: [
                { name: "name", type: "text", validate: "required", title: "Name" },
                { name: "email", type: "text", validate: "required" , title: "Email"},
                { name: "address", type: "text", validate: "required" , title: "Address"},
                { 
                    name: "role",                
                    type: "select",
                    items: roles,
                    validate: "required",
                    selectedIndex: 0,
                    valueField: "id",
                    textField: "role",
                    title: "Role",
                    width: 80
                },
                { name: "isAdmin",
                 type: "checkbox",
                  editing: false,
                  inserting: false,
                    title: "Is Admin",
                      width: 70,
                    itemTemplate: function(value) {
                        return (value === "1")?
                        `<input type="checkbox" checked disabled>`:
                        `<input type="checkbox" disabled>`
                    },
                },
                { type: "control" }
            ]
        });
    </script>
<% } %>