<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flower Shop</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./w3.css" />
  </head>
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <% include navbar %>
    <div class="jumbotron text-center">
      <h1>Flower Shop</h1>
      <p>specialize in Flower</p>
      <img  id="logo_img" src=""/>
    </div>

    <section id="login_section">
      <% include login %>
    </section>
    <section id="services_section">
      <% include services %>
    </section>
    <section id="catalog_section">
      <% include catalog %>
    </section>
    <section id="branches_section">
      <% include branches %>
    </section>
    <section id="about_section">
      <% include about %>
    </section>
    <section id="contact_section">
      <% include contact %>
    </section>
    <section id="footer_section">
      <% include footer %>
    </section>
    <section id="customers_section">
      <% include customers %>
    </section>

    <script src="./index.js"></script>
  </body>
</html>
