<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="#myPage">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#services">SERVICES</a></li>
        <%if(true){%>
          <li><a href="#catalog">CATALOG</a></li>
          <li><a href="#branches">BRANCHES</a></li>
          <%if(false){%>
            <li><a href="#customers">CUSTOMERS</a></li>
          <%}%>
        <%}%>
        <li><a href="#about">ABOUT</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#login-modal" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-user"></span>ACCOUNT</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> CART</a></li>
      </ul>
    </div>
</nav>